<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

	<title></title>

	<link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/handlebars-v3.0.3.js"></script>
    <script src="js/handlebars-helper-x.js"></script>
    <script src="js/jquery.dateFormat.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
</head>
<body>

	<!-- List of Clients -->
	<a class="item item-icon-left" href="#" onclick="selectChatPartner('{{id}}', '{{firstname}} {{lastname}}')">
        <i class="icon ion-person"></i>
        {{firstname}} {{lastname}}
        <span class="badge badge-assertive" style="display: none;">0</span>
    </a>

    <!-- Message Sent Item -->
    <div class="row msg_container base_sent">
        <div class="col-md-12 col-xs-12">
            <div class="messages msg_sent">
                <p>{{message}}</p>
                <time>{{name}} - {{time}}</time>
            </div>
        </div>
<!--         <div class="col-md-3 col-xs-3 avatar">
            <img src="img/avatar.jpg" class=" img-responsive" width="48">
        </div> -->
    </div>

    <!-- Message Recieved Item -->
    <div class="row msg_container base_receive">
<!--         <div class="col-md-3 col-xs-3 avatar">
            <img src="img/avatar.jpg" class=" img-responsive " width="48">
        </div> -->
        <div class="col-md-12 col-xs-12">
            <div class="messages msg_receive">
                <p>{{message}}</p>
                <time datetime="2009-11-13T20:00">T{{name}} - {{time}}</time>
            </div>
        </div>
    </div>

</body>
</html>