<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!-- // <script src="cordova.js"></script> -->

    <!-- your app's js -->
    <!-- // <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script> -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/handlebars-v3.0.3.js"></script>
    <script src="js/handlebars-helper-x.js"></script>
    <script src="js/jquery.dateFormat.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script type="text/javascript" src="http://cdn.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="http://cdn.amcharts.com/lib/3/serial.js"></script>
    <script src="http://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="http://www.amcharts.com/lib/3/serial.js"></script>
    <script src="http://www.amcharts.com/lib/3/themes/light.js"></script>
    
    <style>
	   .green-background {background-color: green !important;color: white !important;}
	   .blue-background {background-color: blue !important;color: white !important;}
	   .red-background {background-color: red !important;color: white !important;}

	   .red-border {border: 4px solid red;}
	   .green-border {border: 4px solid green;}

	   .background-check { background-image: url("img/check.jpg"); background-repeat: no-repeat;background-position: center; }
	   .background-uncheck { background-image: url("img/uncheck.jpg"); background-repeat: no-repeat;background-position: center; }
	   .background-checked {background-image: url("img/checked.jpg"); background-repeat: no-repeat;background-position: center; }
	   .background-unchecked {background-image: url("img/unchecked.jpg"); background-repeat: no-repeat;background-position: center; }
	</style>
  </head>

  <body ng-app="starter">
    <ion-nav-view>
        <ion-side-menus id="page" enable-menu-with-back-views="false" style="display: none;">
            <ion-side-menu-content>
                <ion-nav-bar class="bar-stable">
                    <ion-nav-buttons side="left">
                        <button id="menuBtn" class="button button-icon button-clear ion-navicon" menu-toggle="left">
                        </button>
                    </ion-nav-buttons>
                    <ion-nav-buttons side="right">
                        <button id="abcHeaderBtn" class="button button-icon button-clear" menu-toggle="right">
                        	<img src="img/antenna.png" width="20" />
                        </button>
                    </ion-nav-buttons>
                </ion-nav-bar>
                <ion-nav-view name="menuContent">
		            <ion-view view-title="Welcome" class="pane" nav-view="active" style="opacity: 1; -webkit-transform: translate3d(0%, 0px, 0px);">
			        	<ion-content class="padding scroll-content ionic-scroll has-header">
			        		<div id="generalInfo" class="scroll ui-screen" style="display: none;">
			          			<div id="mainInfo" class="row">
		                            <div class="col-md-1" style="font-size: 52px;color: blue;">&deg;</div>
		                            <div class="col-md-11">
		                                <div>
		                                    <a id="loggerName" href="#" style="font-size: 24px;"><!-- // added by joe {{user_name}} --></a>
		                                    <div class="mic-info">
		                                        <span id="loggerAddress"></span><br/>
		                                        <span id="sessionStart"></span><br/>
		                                        <span id="sessionEnd"></span><br/>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
			          			<div class="row">&nbsp;</div>
			          			<div class="row">
		                            <div class="col-md-1" style="font-size: 52px;color: blue;">&deg;</div>
		                            <div class="col-md-11">
		                                <div>
		                                    <a id="loggerName" href="#" style="font-size: 24px;">Lesson Details</a>
		                                    <div id="ittTable" class="mic-info">
		                                        
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
			          			<div class="row">&nbsp;</div>
			          			<div class="row">
		                            <div class="col-md-1">&nbsp;</div>
		                            <div style="width: 90%;">
		                                <a id="btnChangeClient" href="#" class="btn btn-lg btn-block" style="background-color: orange;color: white;">Change Client</a>
		                            </div>
		                        </div>
			        		</div>
			        		<div id="dailyDataScreen" class="scroll ui-screen" style="display: none;">
			        			<div id="searchCard" class="list list-inset">
								  <label class="item item-input">
								    <i class="icon ion-search placeholder-icon"></i>
								    <input id="searchCardValue" type="text" placeholder="Search">
								  </label>
								</div>
			        		</div>
			        		<div id="dailyReviewScreen" class="scroll ui-screen" style="display: none;">
			          			<table id="summaryTable" class="table table-bordred table-striped">
			                   		<thead>
							            <th>Status</th>
							            <th>Ref</th>
							            <th>Lesson</th>
							            <th>Target</th>
							            <th>Comments</th>
							            <th>&nbsp;</th>
							    	</thead>
							    	<tbody>
							    	</tbody>
								</table>
			        		</div>
			        		<div id="calendarDataScreen" class="scroll ui-screen" style="display: none;">
			        			<div id="switchCalendar" class="list list-inset" onclick="showCalendarWidget();">
								  	<button class="button button-block button-light">Daily data</button>
								</div>
                            </div>

                            <div id="dashboardScreen" class="scroll ui-screen" style="display: none;">
                                <div id="dashboard" class="dash"></div>
                            </div>

                            <div id="roomListScreen" class="scroll ui-screen" style="display: none;">
                                <div id="listofUser" class="list">
                                    
                                </div>
                            </div>
                            <div id="chatListScreen" class="scroll ui-screen" style="display: none;">
                                <div class="msg_container_base"></div>
                            </div>
			        	</ion-content>
			        	<div id="confirmsessionBtn" class="bar bar-footer green-background">
                            <div onclick="confirmSession();" class="title">CONFIRM SESSION</div>
                        </div>
                        <ion-footer-bar id="chatInputEl" style="display: none;" class='bar bar-footer' keyboard-attach>
                            <label class="item-input-wrapper">
                                <input type="search" placeholder="  Send a message" style="width: 100%;padding-left:0px;margin-left:0px;">
                            </label>
                            <button id="sendAMessage" type="button" class="btn btn-primary">Send</button>
                        </ion-footer-bar>
			      	</ion-view>
                </ion-nav-view>
            </ion-side-menu-content>
            
            <ion-side-menu side="left">
                <ion-header-bar class="bar-stable">
                    <h1 class="title">Left</h1>
                </ion-header-bar>
                <ion-content>
                    <ion-list>
                        <ion-item href="#" onclick="hideOtherScreens();showDashboardScreen();$('#menuBtn').click();">
                            Dashboard
                        </ion-item>
                        <ion-item href="#" onclick="hideOtherScreens();loadSessionInfo();$('#menuBtn').click();">
                            Current Session
                        </ion-item>
                        <ion-item href="#" onclick="hideOtherScreens();showCalendarScreen();$('#menuBtn').click();">
                            Calendar
                        </ion-item>
                        <ion-item href="#" onclick="hideOtherScreens();showChatListScreen();$('#menuBtn').click();">
                            <span id="numberMessage"></span> Messages
                        </ion-item>
                        <ion-item href="#"  onclick="hideOtherScreens();logout();$('#menuBtn').click();">
                            <span id="numberMessage"></span> Logout
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-side-menu>
            
            <ion-side-menu side="right">
                <ion-header-bar class="bar-stable">
                    <h1 id="abcTitle" class="title">Antecedents</h1>
                </ion-header-bar>
                <ion-content>
                    <ion-list id="abcMenu">
                    	<div class="list">
                    	</div>
                    </ion-list>
                    <ion-list id="prepareStep">
                        <ion-item href="#" style="color: blue;text-align: center;" onclick="nextProcess();">
                            Continue &gt;&gt;
                        </ion-item>
                    </ion-list>
                    <ion-list id="finishStep" style="display: none;">
                        <ion-item href="#" style="color: green;text-align: center;" onclick="submitABC();">
                            Submit
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-side-menu>
        </ion-side-menus>
        <div id="loginView" class="box" style="padding: 20px;display: none;">
            <form name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST" style="text-align: center;">
                <br/><br/>
                <img src="img/logo.png" width="100%">
                <br/><br/><br/><br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="user" type="text" class="form-control" name="user" style="background-color: #eee;" placeholder="USERNAME">
                            </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="password"  style="background-color: #eee;" placeholder="PASSWORD">
                    </div>
                    <br/>
                    <div class="form-group">
                        <div class="col-sm-12 controls">
                            <button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="button">Login</button>
                        </div>
                    </div>
            </form>
        </div>
    </ion-nav-view>
   
    <script id="chatterItem" type="text/x-handlebars-template">
        {{#each this}}
            <a class="item item-icon-left" href="#" onclick="selectChatPartner('{{id}}', '{{firstname}} {{lastname}}')">
                <i class="icon ion-person"></i>
                {{firstname}} {{lastname}}
                <span class="badge badge-assertive" style="display: none;">0</span>
            </a>
        {{/each}}
    </script>
    
    <script id="messageSentItem" type="text/x-handlebars-template">
    <div class="row msg_container base_sent">
        <div class="col-md-9 col-xs-9">
            <div class="messages msg_sent">
                <p>{{message}}</p>
                <time>{{name}} - {{time}}</time>
            </div>
        </div>
        <div class="col-md-3 col-xs-3 avatar">
            <img src="img/avatar.jpg" class=" img-responsive" width="48">
        </div>
    </div>
    </script>
    
    <script id="messageReceiveItem" type="text/x-handlebars-template">
    <div class="row msg_container base_receive">
        <div class="col-md-3 col-xs-3 avatar">
            <img src="img/avatar.jpg" class=" img-responsive " width="48">
        </div>
        <div class="col-md-9 col-xs-9">
            <div class="messages msg_receive">
                <p>{{message}}</p>
                <time datetime="2009-11-13T20:00">T{{name}} - {{time}}</time>
            </div>
        </div>
    </div>
    </script>
    
    <script id="abcItem" type="text/x-handlebars-template">
		{{#each this}}
			<ion-item href="#" class="item item-complex" onclick="chooseABC({{id}});">
				<label class="item item-radio">
    				<input type="checkbox" name="group">
    					<div class="item-content">
							{{name}}
    					</div>
    					<i class="radio-icon ion-checkmark"></i>
  				</label>
			</ion-item>
  		{{/each}}
    </script>
    
    <script id="lessonDetailsItem" type="text/x-handlebars-template">
		<span>ITT {{index}}:</span>
        <br/>
        {{#each lessons}} {{name}} - {{target}} <br/> {{/each}}
    </script>
    
    <script id="dailyProbeItem" type="text/x-handlebars-template">
		{{#each this}}
			<tr data-index="{{id}}" class="endProbe {{class}}">
				<td>{{type}}</td>
				<td>{{category}}</td>
				<td>{{name}}</td>
				<td>{{target_id}}</td>
				<td>comments</td>
				<td><button type="button" class="btn btn-success">+</button></td>
			</tr>
			<tr data-index="{{id}}_comment" style="display: none;">
				<td colspan="6"></td>
			</tr>
  		{{/each}}
    </script>
    
    <script id="dailySheetItem" type="text/x-handlebars-template">
    	{{#each this}}
			<div class="card sheet {{#xif "this.type == 'baseline'"}} green-border {{/xif}} {{#xif "this.type == 'retention'"}} red-border {{/xif}} {{#xif "this.type == 'cold'"}} yellow-border {{/xif}}" data-attempt="0" data-id="{{id}}" data-name="{{name}}"  data-cat="{{category}}" data-count="{{max_count}}"  data-type="{{type}}" data-type="{{type}}" data-methodology="{{methodology}}" data-target="{{target_id}}">
				<div class="item item-text-wrap">
					<div style="float:left;width:60%;">
						<p>Status: {{type}}</p>
						<p>Lesson: {{name}}</p>
                    </div>
					<div style="float:right;width:40%;">
						{{#xif "this.type == 'baseline'"}}<p style="text-align: right;"><span class="attempText" style="font-size: 16px;">0</span> attempts</p>{{/xif}}
						<span class="background-uncheck" style="float:right;width: 40px;" onclick="noPress(this);">&nbsp;</span>
						<span class="background-check" style="float:right;width: 40px;" onclick="yesPress(this);">&nbsp;</span>
                    </div>
					<div style="width: 100%">
                    	<p><br/><br/><br/>Description<br/>{{message}}</p>
                    </div>
					<div style="width: 100%;text-align: center;display: none;" class="addCommentSection">
                    	<p><button onclick="addCardComment(this);" class="btn btn-primary" type="button">Add Comment</button></p>
                    </div>
				</div>
			</div>
    	{{/each}}
    </script>
    
    <!--<script id="calendarItem" type="text/x-handlebars-template">
        <div class="card calendar">
                <div class="item item-text-wrap">
                    <div style="float:left;width:60%;">
                        <p style="color: #1aa6de !important;"><strong>Lesson {{index}}</strong></p>
                        <p style="color: #1aa6de !important;"><strong> {{clientName}} </strong></p>
                        <p style="color: #1aa6de !important;"><strong>ID: {{id}}</strong></p>
                    </div>
                    <div style="float:right;width:40%;">
                        <p style="color: #1aa6de !important;"><strong>In: {{in}}</strong></p>
                        <p style="color: #1aa6de !important;"><strong>Out: {{out}}</strong></p>
                    </div>
                    <div style="width: 100%">
                        <p><br/><br/><br/><br/></p>
                    </div>
                    <div style="width: 100%">
                            {{#each this.itt}}
                                <p style="padding: 10px;color: white !important; background-color: #1aa6de;width: 100%;">
                                    <span style="color: white !important;font-size:16px;">ITT Session {{ittId}}</span><br/>
                                    <span style="color: white !important;">{{name}}</span>
                                </p><br/>
                            {{/each}}
                    </div>
                </div>
            </div>
    </script>-->
    
    <script id="calendarItem" type="text/x-handlebars-template">
        <div class="card calendar">
                <div class="item item-text-wrap">
                    <div style="float:left;width:100%">
                        <div style="float:left;width:25%">
                            <p style="color: #1aa6de !important;"><strong>{{dayofweek}}</strong></p>
                        </div>
                        <div style="float:right;width:75%">
                            <div style="float:right;width:100%">
                                <div style="float:left;width:66%">
                                    <p style="color: #1aa6de !important;"><strong>Session #{{id}}</strong></p>
                                    <p style="color: #1aa6de !important;"><strong>Client: {{clientName}}</strong></p>
                                </div>
                                <div style="float:right;width:33%">
                                    <p style="color: #1aa6de !important;"><strong>{{sessiondate}}</strong></p>
                                    <p style="color: #1aa6de !important;"><strong>{{in}}</strong></p>
                                    <p style="color: #1aa6de !important;"><strong>{{out}}</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="float:left;width:100%">
                        {{#each this.itt}}
                            <p style="padding: 10px;color: white !important; background-color: #1aa6de;width: 100%;">
                                <span style="color:white !important;font-size:16px;">{{name}}</span>
                                <span style="color:white !important;">{{count}}</span>
                            </p>
                        {{/each}}
                    </div>
                </div>
            </div>
    </script>

    <!--Dashboard-->
    <script id="dashboardItem" type="text/x-handlebars-template">
        <div class="dashboard">
            <h3>ABC Frequency</h3>
            <div id="chartdiv"></div>
            <h3>Cummulative</h3>
            <div id="chartdiv"></div>
        </div>
    </script>
    
    <script>

	var globalClientId = '';
	var globalUserId = '';
	var globalSessionId = '';
	var rootUrl = 'http://104.131.96.212:5000';
	var currentProcess = 1;
    
	function loadTemplateData(target, data) {
            
		var source   = $(target).html();
		var template = Handlebars.compile(source);
            
		return template(data);
	}
	
    // ----------------------ABC Workflow--------------------------
    var aData = new Array();
    var bData = new Array();
    var cData = new Array();
    
    function chooseABC(data) {
    	
    	if (currentProcess == 1)
    		aData.push(data);
		else if (currentProcess == 2)
    		bData.push(data);
		else if (currentProcess == 3)
    		cData.push(data);
    }

	function submitABC() {

		$.each(aData, function( index, value ) {
			
			 $.ajax({
	            method: "POST",
	            url: rootUrl + "/behaviors/antecedent",
	            data: { id: value, name: 'dummy', client_id: globalClientId }
	         })
		     .done(function( msg ) {
		           
		     });
		 	
			 aData = new Array();
		});

		$.each(bData, function( index, value ) {

	         $.ajax({
	            method: "POST",
	            url: rootUrl + "/behaviors/behaviors",
	            data: { id: value, name: 'dummy', client_id: globalClientId }
	         })
	         .done(function( msg ) {
	                      
	            bData = new Array();
	         });
	         
			 bData = new Array();
		});

		$.each(cData, function( index, value ) {

	         $.ajax({
	            method: "POST",
	            url: rootUrl + "/behaviors/consequence",
	            data: { id: value, name: 'dummy', client_id: globalClientId }
	         })
	         .done(function( msg ) {
	                      
	         });

	         cData = new Array();
		});
                             
         
         $('#abcHeaderBtn').click();
         $('#prepareStep').show();
         $('#finishStep').hide();
         
         currentProcess=1;
         loadAntecedents();
	}
	
	function nextProcess() {
		
		currentProcess++;
		
		if (currentProcess == 2 && aData)
			loadBehaviors();
		else if (currentProcess == 3 && bData) {
			
			loadConsequences();
			$('#prepareStep').hide();
			$('#finishStep').show();
		}
	}

    function loadAntecedents() {
        
        var $container = $('#abcMenu div');
        $container.empty();
        
        // alert(1);
        $('#abcTitle').html('Antecedents');
        $.ajax({
			method: "GET",
			url: rootUrl + "/settings/antecedents?client=" + globalClientId,
		})
		.done(function( data ) {
                     
			// alert(2);
			var html = loadDataTemplate('#abcItem', data);
			$container.html(html);
		});
    }
    
    function loadBehaviors() {
        
        var $container = $('#abcMenu div');
        $container.empty();
        
        $('#abcTitle').html('Behaviors');
        $.ajax({
               method: "GET",
               url: rootUrl + "/settings/behaviors?client=" + globalClientId,
               })
               .done(function( data ) {
               
            	   var html = loadDataTemplate('#abcItem', data);
            	   $container.html(html);
               })
               .error(function( msg ) {
                            
               });
    }
    
    function loadConsequences() {
        
        var $container = $('#abcMenu div');
        $container.empty();

        $('#abcTitle').html('Consequences');
        $.ajax({
			method: "GET",
			url: rootUrl + "/settings/consequences?client=" + globalClientId,
		})
		.done(function( data ) {
            	   
			var html = loadDataTemplate('#abcItem', data);
			$container.html(html);
		})
		.error(function( msg ) {
                            
		});
    }
    
	// ----------------------Daily Probe Review-----------------
	var globalClients;
    function loadSessionInfo(callback) {
        
        // decorator trick
        $('.header').addClass('bar').addClass('bar-header');
        
        $.ajax({
               method: "GET",
               url: rootUrl + "/sessions/session/" + globalUserId,
        })
        .done(function( msg ) {
        	
            var session_info = msg;
			globalClients = msg;
        	
			if(msg && msg.length > 0) {
              
                globalSessionId = msg[0].id;
                globalClientId = msg[0].client_id;
              
                $('#sessionStart').html(msg[0].schedule_in);
                $('#sessionEnd').html(msg[0].schedule_out);
              
                $.ajax({
                     method: "GET",
                     url: rootUrl + "/clients/client/" + globalClientId,
                })
                .done(function( msg ) {
                    // grab msg data & hold it in angular variables
                    // replace handlebar templating language @ 69

                    $('#loggerName').html(msg.firstname + ' ' + msg.lastname);
                    $('#loggerAddress').html(msg.address);
                 });
              
                var index = 0;

                if (msg[0].itt) {

                    $.each(msg[0].itt, function(key, value) {
                         
                         $.ajax({
                                method: "GET",
                                url: rootUrl + "/lesson/itt/" + value,
                                })
                         .done(function( data ) {
                               
                               console.log(data);
                               index++;
                               var lessons = {
                                index: index,
                                lessons: data
                               }
                               
                               var html = loadDataTemplate('#lessonDetailsItem', lessons);
                               $('#ittTable').html(html);
                               
                               html = loadDataTemplate('#dailySheetItem', data);
                               $('#searchCard').after(html);
    					});
                    });
                }
              
                // hide change client button if there is more than 1 client
                if (msg.length > 1)
                	$('#btnChangeClient').show();
                else
                	$('#btnChangeClient').hide();
                
                $('#generalInfo').show();
                $('#confirmsessionBtn').show();
			} else {
              
				$('#confirmsessionBtn').hide();
			}

              loadAntecedents();
              
              if (callback)
            	  callback();
        });
    }

	function loadSummaryProbe() {

		$('#confirmsessionBtn').show();
		$('#dailyReviewScreen').show();
		$('#summaryTable').find('tbody').empty();
		
		var data = new Array();
		$('.sheet').each(function() {

			var el = $(this);
			
			var $class = 'green-background';
			if (el.data('type') == 'retention')
				$class = 'red-background';
			else if (el.data('type') == 'cold')
				$class = 'yellow-background';
			
			data.push({
				id: el.data('id'),
				category: el.data('cat'),
				name: el.data('name'),
				type: el.data('type'),
				target_id: el.data('target'),
				class: $class
			});
		});
		
		console.log(data);
		var html = loadDataTemplate('#dailyProbeItem', data);
		$('#summaryTable').find('tbody').html(html);
    }

	var sessionStep = 1;
	function confirmSession(){
		
		sessionStep++;
		if (sessionStep == 2) {
			
			hideOtherScreens();
			$('#confirmsessionBtn').show();
			$('#confirmsessionBtn').find('div').html('CONTINUE');
			$('#confirmsessionBtn').removeClass('green-background').addClass('blue-background');
			$('#dailyDataScreen').show();
		} else if (sessionStep == 3) {
			
			var cont = true;
			$('.sheet').each(function() {
				
				var el = $(this);
				if (!el.find('.background-checked').html() && !el.find('.background-unchecked').html() && el.data('type') != 'known') {

					cont = false;
				}
			});

			if (!cont) {
				
				alert('Please select all probe before continue');
				sessionStep--;
			} else {

				$('#confirmsessionBtn').find('div').html('SUBMIT');
				$('#confirmsessionBtn').removeClass('blue-background').addClass('green-background');

				hideOtherScreens();
				loadSummaryProbe();
			}
		} else if (sessionStep == 4) {

			$('#confirmsessionBtn').find('div').html('CONTINUE');

			hideOtherScreens();
			endProbes();
		}
	}
	
	function endProbes() {
		
		sessionStep = 1;
		
		$('.endProbe').each(function() {

			$.ajax({
	  	        method: "GET",
	  	        url: rootUrl + "/sessions/end_probe/" + $(this).data('index'),
	  	     })
	  	     .done(function( data ) {});
		});
		
		$(document).ajaxStop(function () {

			$.ajax({
	  	        method: "GET",
	  	        url: rootUrl + "/sessions/end/" +globalSessionId,
	  	     })
	  	     .done(function( data ) {});
		});
	}
	
	function noPress(el) {
		
		el = $(el);
		var parent = el.parents('.sheet');
		var attemp = parseInt(parent.data('attempt'));

		// baseline 3 attempts
		if (parent.data('type') == 'baseline' && attemp >= 3) return;
		else if (parent.data('type') != 'baseline' && attemp >= 1) return;

		if (el.hasClass('background-uncheck') && parent.data('type') != 'known') {

			parent.find('.addCommentSection').show();
			
			// reset to original state
			if (parent.find('.background-checked').html())
				parent.find('.background-checked').removeClass("background-checked").addClass("background-check");
			
			el.removeClass("background-uncheck").addClass("background-unchecked");
			
			attemp++;
			parent.data('attempt', attemp);
			parent.find('.attempText').html(attemp);

			$.ajax({
	            method: "POST",
	            url: rootUrl + "/lesson/no_press/" + parent.data('id'),
	            data: {lesson_id: parent.data('id'), category: parent.data('cat'), count: attemp, type: parent.data('type'), therapist_id: globalUserId, client_id: globalClientId}
	         })
		     .done(function( msg ) {

		    	 console.log(msg);
		     });
		}
	}

	function yesPress(el) {
		
		el = $(el);
		var parent = el.parents('.sheet');
		var attemp = parseInt(parent.data('attempt'));

		// baseline 3 attempts
		if (parent.data('type') == 'baseline' && attemp >= 3) return;
		else if (parent.data('type') != 'baseline' && attemp >= 1) return; 
		
		if (el.hasClass('background-check') && parent.data('type') != 'known') {

			parent.find('.addCommentSection').hide();
			
			if (parent.find('.background-unchecked').html())
				parent.find('.background-unchecked').removeClass("background-unchecked").addClass("background-uncheck");
			
			el.removeClass("background-check").addClass("background-checked");
			
			attemp++;
			parent.data('attempt', attemp);
			parent.find('.attempText').html(attemp);
			
			$.ajax({
	            method: "POST",
	            url: rootUrl + "/lesson/yes_press/" + parent.data('id'),
	            data: {lesson_id: parent.data('id'), category: parent.data('cat'), count: attemp, type: parent.data('type'), therapist_id: globalUserId, client_id: globalClientId}
	        })
		    .done(function( msg ) {

		     	console.log(msg);
		    });
		}
	}
	
	function addCardComment(e) {

		var parent = $(e).parents('.sheet');
		var comment = prompt("Please enter your comment", "");
		if (comment != null) {

			$.ajax({
	            method: "POST",
	            url: rootUrl + " /lesson/message",
	            data: {lesson_id: parent.data('id'), message: comment}
	        })
		    .done(function( msg ) {

		     	console.log(msg);
		    });
		}
	}

	// -----------------------------------------CALENDAR
	var calendarConfiguration = 1;
	function showCalendarWidget() {
		
		if ($('#switchCalendar button').html() == 'Loading') return;
		
		calendarConfiguration++;
		if (calendarConfiguration > 3) calendarConfiguration = 1;
		
		showCalendarScreen();
	}
	
	function showCalendarScreen() {
		
		$('#switchCalendar button').html('Loading');
		
		var $param = 'daily';
		switch(calendarConfiguration) {
	    	case 2:
	    		$param = 'weekly';
	        	break;
	    	case 3:
	    		$param = 'biweekly';
	        	break;
	    	case 4:
	    		$param = 'monthly';
	        	break;
		}
		
		// remove all existing calendar
		$('.calendar').remove();
		
		// fetch new one
        $.ajax({
			method: "GET",
			url: rootUrl + "/sessions/calendar/" + globalUserId + "/" + $param,
		})
		.done(function( data ) {
              
            var sindex = 0;
			$.each(data, function(i, item){

				$.each(item.array_agg, function(i, item){
    				
					$.get( rootUrl + "/sessions/summary/" + item, function( data ) {
						console.log(data);
						$.each(data, function(i, item){

							var startDate = '';
							if (item.schedule_in)
								startDate = $.format.date(new Date(item.schedule_in), 'hh:mm a');
							
							var endDate = '';
							if (item.schedule_out)
								endDate = $.format.date(new Date(item.schedule_out), 'hh:mm a');

                            var dow = '';
                            switch(new Date(item.schedule_in).getDay()){
                                case 0: dow = "Su"; break;
                                case 1: dow = "M"; break;
                                case 2: dow = "Tu"; break;
                                case 3: dow = "W"; break;
                                case 4: dow = "Th"; break;
                                case 5: dow = "F"; break;
                                case 6: dow = "Sa"; break;
                            }
							
							var card = {
								index: ++sindex,
								id: item.client_id,
								clientName: "",
								"in": startDate,
								"out": endDate,
                                sessiondate: $.format.date(new Date(item.schedule_in), 'MM/dd/yy') || $.format.date(new Date(item.schedule_out), 'MM/dd/yy'),
                                dayofweek: dow,
								itt: null
							};

							$.ajax({ url: rootUrl + "/clients/client/" + card.id, 
								async: false,
								dataType: 'json',
								success: function(msg) {
				    				
									card.clientName = msg.firstname + ' ' + msg.lastname;
								}
							});

							$.each(item.itt, function(i, item){
			    				
								var itts = new Array();
								$.ajax({ url: rootUrl + "/lesson/itt/" + item, 
									async: false,
									dataType: 'json',
									success: function(data) {
					    				
										$.each(data, function(i, item){
											
											itts.push({
												ittId: item.lesson_id,
												name: item.name,
                                                count: item.count
											});
										});
									}
								});

								card.itt = itts;
			    	        });
							
	                        html = loadDataTemplate('#calendarItem', card);
	                        $('#switchCalendar').after(html);
		    	        });
						
						switch(calendarConfiguration) {
				    		case 1:
								$('#switchCalendar button').html('Daily data');
				        		break;
					    	case 2:
								$('#switchCalendar button').html('Weekly data');
					        	break;
					    	case 3:
								$('#switchCalendar button').html('Biweekly data');
					        	break;
					    	case 4:
								$('#switchCalendar button').html('Monthly data');
					        	break;
						}
					});
    	        });
	        });
		});
		
		hideOtherScreens();
		$('#calendarDataScreen').show();
	}
    
    // -----------------------------------------CHAT
    var globalChatterId = null;
    var globalChatterName = '';
    function showChatListScreen() {
        
        globalChatterId = null;
        
        $('#listofUser').html();
        $.ajax({ url: rootUrl + "/users/assigned_clients/" + globalUserId,
            dataType: 'json',
            success: function(data) {
               
            	console.log(data.clients);
            	console.log(data.unreads);

               	html = loadDataTemplate('#chatterItem', data.clients);
               	$('#listofUser').html(html);
            }
        });
        
        hideOtherScreens();
        $('#roomListScreen').show();
    }
    
    function selectChatPartner(id, name) {

        socket.emit('change room', { from: globalChatterId, to: id, user_id: globalUserId });
        globalChatterId = id;
        globalChatterName = name;
        
        hideOtherScreens();
        
        $('.msg_container').remove();
        $('#chatListScreen').show();
        $('#chatInputEl').show();
    }

    //------------------------------------------DASHBOARD
    function showDashboardScreen(){
        hideOtherScreens();
        html = loadTemplateData('#dashboardItem');
        $('#dashboard').html(html);
        hideOtherScreens();
        $('#dashboardScreen').show();

        var chart = AmCharts.makeChart("chartdiv", {
            "type": "serial",
            "theme": "light",
            "marginRight":80,
            "autoMarginOffset":20,
            "path": "http://www.amcharts.com/lib/3/",
            "dataDateFormat": "YYYY-MM-DD HH:NN",
            "dataProvider": [{
                "date": "2012-01-01",
                "value": 8
            }, {
                "date": "2012-01-01",
                "value": 8
            }, {
                "date": "2012-01-02",
                "color":"#CC0000",
                "value": 10
            }, {
                "date": "2012-01-03",
                "value": 12
            }, {
                "date": "2012-01-04",
                "value": 14
            }, {
                "date": "2012-01-05",
                "value": 11
            }, {
                "date": "2012-01-06",
                "value": 6
            }, {
                "date": "2012-01-07",
                "value": 7
            }, {
                "date": "2012-01-08",
                "value": 9
            }, {
                "date": "2012-01-09",
                "value": 13
            }, {
                "date": "2012-01-10",
                "value": 15
            }, {
                "date": "2012-01-11",
                "color":"#CC0000",
                "value": 19
            }, {
                "date": "2012-01-12",
                "value": 21
            }, {
                "date": "2012-01-13",
                "value": 22
            }, {
                "date": "2012-01-14",
                "value": 20
            }, {
                "date": "2012-01-15",
                "value": 18
            }, {
                "date": "2012-01-16",
                "value": 14
            }, {
                "date": "2012-01-17",
                "color":"#CC0000",
                "value": 16
            }, {
                "date": "2012-01-18",
                "value": 18
            }, {
                "date": "2012-01-19",
                "value": 17
            }, {
                "date": "2012-01-20",
                "value": 15
            }, {
                "date": "2012-01-21",
                "value": 12
            }, {
                "date": "2012-01-22",
                "color":"#CC0000",
                "value": 10
            }, {
                "date": "2012-01-23",
                "value": 8
            }],
            "valueAxes": [{
                "axisAlpha": 0,
                "guides": [{
                    "fillAlpha": 0.1,
                    "fillColor": "#888888",
                    "lineAlpha": 0,
                    "toValue": 16,
                    "value": 10
                }],
                "position": "left",
                "tickLength": 0
            }],
            "graphs": [{
                "balloonText": "[[category]]<br><b><span style='font-size:14px;'>value:[[value]]</span></b>",
                "bullet": "round",
                "dashLength": 3,
                "colorField":"color",
                "valueField": "value"
            }],
            "trendLines": [{
                "finalDate": "2012-01-11 12",
                "finalValue": 19,
                "initialDate": "2012-01-02 12",
                "initialValue": 10,
                "lineColor": "#CC0000"
            }, {
                "finalDate": "2012-01-22 12",
                "finalValue": 10,
                "initialDate": "2012-01-17 12",
                "initialValue": 16,
                "lineColor": "#CC0000"
            }],
            "chartScrollbar": {
                "scrollbarHeight":2,
                "offset":-1,
                "backgroundAlpha":0.1,
                "backgroundColor":"#888888",
                "selectedBackgroundColor":"#67b7dc",
                "selectedBackgroundAlpha":1
            },
            "chartCursor": {
                "fullWidth":true,
                "valueLineEabled":true,
                "valueLineBalloonEnabled":true,
                "valueLineAlpha":0.5,
                "cursorAlpha":0
            },
            "categoryField": "date",
            "categoryAxis": {
                "parseDates": true,
                "axisAlpha": 0,
                "gridAlpha": 0.1,
                "minorGridAlpha": 0.1,
                "minorGridEnabled": true
            },
            "export": {
                "enabled": true
             }
        });

        chart.addListener("dataUpdated", zoomChart);

        function zoomChart(){
            chart.zoomToDates(new Date(2012, 0, 2), new Date(2012, 0, 13));
        }

        
    }
    
	// -----------------------------------------GENERAL
    function loadDataTemplate(selector, data) {
    	
    	var source   = $(selector).html();
    	var template = Handlebars.compile(source);
    	var html     = template(data);
    	return html;
    }
	
	function hideOtherScreens() {

        $('.ui-screen').hide();
		$('#confirmsessionBtn').hide();
        $('#chatInputEl').hide();
        
        // if (socket)
        // 	socket.emit("leave all rooms");
	}
	
	$.fn.bindWithDelay = function( type, data, fn, timeout, throttle ) {

	    if ( $.isFunction( data ) ) {
	        throttle = timeout;
	        timeout = fn;
	        fn = data;
	        data = undefined;
	    }

	    // Allow delayed function to be removed with fn in unbind function
	    fn.guid = fn.guid || ($.guid && $.guid++);

	    // Bind each separately so that each element has its own delay
	    return this.each(function() {

	        var wait = null;

	        function cb() {
	            var e = $.extend(true, { }, arguments[0]);
	            var ctx = this;
	            var throttler = function() {
	                wait = null;
	                fn.apply(ctx, [e]);
	            };

	            if (!throttle) { clearTimeout(wait); wait = null; }
	            if (!wait) { wait = setTimeout(throttler, timeout); }
	        }

	        cb.guid = fn.guid;

	        $(this).bind(type, data, cb);
	    });
	};
	
	function logout() {
		
		globalUserId = '';
		
		window.localStorage.removeItem("globalUserId");
		window.localStorage.removeItem("loggedTime");

		$('#loginView').show();
		$('#page').hide();
        $('#chatInputEl').hide();
	}
	
    $( document ).ready(function() {
        
    	globalUserId = window.localStorage.getItem("globalUserId");
    	var loggedTime = window.localStorage.getItem("loggedTime");
    	var currentTime = +new Date;
    	
		if (!globalUserId || (currentTime - loggedTime) >  12000000) {
                        
			$('#loginView').show();
			$('#page').hide();
	        $('#chatInputEl').hide();
			
			window.localStorage.removeItem("globalUserId");
			window.localStorage.removeItem("loggedTime");
		} else {
                        	
			$('#loginView').hide();
			loadSessionInfo(function() {
                                 
				$('#page').show();
				$('#mainMenu').show();
            });
		}
                        
		$('#btnLogin').click(function() {
                                             
			$.ajax({
				method: "POST",
				url: rootUrl + "/login",
				data: { username: $('#user').val(), password: $('#password').val() }
			})
			.done(function( msg ) {
                                                   
				$('#user').val('');
				$('#password').val('');
				$('#loginView').hide();
                                                   
				globalUserId = msg.user_id;
				window.localStorage.setItem("globalUserId", globalUserId);
				window.localStorage.setItem("loggedTime", +new Date);
				
				loadSessionInfo(function() {
                                                                   
					$('#page').show();
					$('#mainMenu').show(); 
				});
			})
			.error(function( msg ) {
        
				alert('Username or password is incorrect!');
                alert(JSON.stringify(msg));
			});
		});
		
		$('#searchCardValue').bindWithDelay("keyup", function() {
			
			if ($('#searchCardValue').val()) {

				$('.sheet').each(function() {

					var el = $(this);
					
					if (el.data('name').indexOf($('#searchCardValue').val()) == -1)
						el.hide();
					else
						el.show();
				});
			} else {
				
				$('.sheet').show();
			}
		}, 700, true);
		

		$('.selected-channel').hide();

		socket = io(rootUrl);
		
		socket.on('connect', function() {
            
			socket.on('chat message', function(data){
		    	
				console.log(data);
		    	if (data.room == globalChatterId && data.message) {

	                html = loadDataTemplate('#messageReceiveItem', {message: data.message, name: globalChatterName, time: ''});
	                $('.msg_container_base').append(html);
		    	}
		    });
		    
		    socket.on('room message history', function(messages){

				console.log(messages);
		        for (var i=0; i<messages.length; i++){
		        	
		            var html = loadDataTemplate('#messageReceiveItem', {message: messages[i].message, name: messages[i].username, time: ''});
		            $('.msg_container_base').append(html);
		        }
		    });
        });
	    
	    var sendAMessage = function(val) {
	    	
	    	socket.emit('chat message', { user_id: globalUserId, message: val, room: globalChatterId });
			
            var html = loadDataTemplate('#messageSentItem', {message: val, name: 'You', time: ''});
            $('.msg_container_base').append(html);
	    }
	    
	    $('#sendAMessage').click(function(){
	    	
	    	sendAMessage($('#chatInputEl input').val());
	    	$('#chatInputEl input').val('');
	    });
	    
		$('#chatInputEl input').keypress(function(e) {
			
			if (e.which == 13) {
				
		    	sendAMessage($(this).val());
				$(this).val('');
				return false;
			}
		});

	    $('#btnChangeClient').click(function(){
	    	
	    	if (globalClient.length > 1) {
	    		
	    	}
	    });
	});
</script>
  </body>
</html>
