<!DOCTYPE html>
<html ng-app='app'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
    <script src="js/login.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/handlebars-v3.0.3.js"></script>
    <script src="js/handlebars-helper-x.js"></script>
    <script src="js/jquery.dateFormat.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
</head>
<body ng-controller='loginCtrl'>
	<div id="loginView" class="box" style="padding: 20px;display: none;">
            <form name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST" style="text-align: center;">
                <br/><br/>
                <img src="img/logo.png" width="100%">
                <br/><br/><br/><br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input ng-model='username' id="user" type="text" class="form-control" name="user" style="background-color: #eee;" placeholder="USERNAME">
                            </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input ng-model='password' id="password" type="password" class="form-control" name="password"  style="background-color: #eee;" placeholder="PASSWORD">
                    </div>
                    <br/>
                    <div class="form-group">
                        <div class="col-sm-12 controls">
                            <button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="button">Login</button>
                        </div>
                    </div>
            </form>
        </div>
        
</body>
</html>