<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/site.css">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
    <script src="js/login.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/handlebars-v3.0.3.js"></script>
    <script src="js/handlebars-helper-x.js"></script>
    <script src="js/jquery.dateFormat.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
</head>
<body>
	<!--Calendar Data Screen-->
	<div id="calendarDataScreen" class="scroll ui-screen" style="display: none;">
		<div id="switchCalendar" class="list list-inset" onclick="showCalendarWidget();">
		  	<button class="button button-block button-light">Daily data</button>
		</div>
    </div>
    

    <!--Calendar Content-->
	<div class="card calendar">
		<div class="item item-text-wrap">
			<div style="float:left;width:60%;">
				<p style="color: #1aa6de !important;"><strong>Lesson {{index}}</strong></p>
				<p style="color: #1aa6de !important;"><strong> {{clientName}} </strong></p>
				<p style="color: #1aa6de !important;"><strong>ID: {{id}}</strong></p>
            </div>
			<div style="float:right;width:40%;">
				<p style="color: #1aa6de !important;"><strong>In: {{in}}</strong></p>
				<p style="color: #1aa6de !important;"><strong>Out: {{out}}</strong></p>
            </div>
			<div style="width: 100%">
            	<p><br/><br/><br/><br/></p>
            </div>
			<div style="width: 100%">
            		{{#each this.itt}}
						<p style="padding: 10px;color: white !important; background-color: #1aa6de;width: 100%;">
							<span style="color: white !important;font-size:16px;">ITT Session {{ittId}}</span><br/>
							<span style="color: white !important;">{{name}}</span>
						</p><br/>
					{{/each}}
            </div>
		</div>
	</div>
</body>
</html>