<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/handlebars-v3.0.3.js"></script>
    <script src="js/handlebars-helper-x.js"></script>
    <script src="js/jquery.dateFormat.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

</head>
<body>

	<!--Daily Probe Item-->
	<tr data-index="{{id}}" class="endProbe {{class}}">
		<td>{{type}}</td>
		<td>{{category}}</td>
		<td>{{name}}</td>
		<td>{{target_id}}</td>
		<td>comments</td>
		<td><button type="button" class="btn btn-success">+</button></td>
	</tr>
	<tr data-index="{{id}}_comment" style="display: none;">
		<td colspan="6"></td>
	</tr>

	<!--Daily Sheet Item-->
	<div class="card sheet {{#xif "this.type == 'baseline'"}} green-border {{/xif}} {{#xif "this.type == 'retention'"}} red-border {{/xif}} {{#xif "this.type == 'cold'"}} yellow-border {{/xif}}" data-attempt="0" data-id="{{id}}" data-name="{{name}}"  data-cat="{{category}}" data-count="{{max_count}}"  data-type="{{type}}" data-type="{{type}}" data-methodology="{{methodology}}" data-target="{{target_id}}">
	<div class="item item-text-wrap">
		<div style="float:left;width:60%;">
			<p>Status: {{type}}</p>
			<p>Lesson: {{name}}</p>
        </div>
		<div style="float:right;width:40%;">
			{{#xif "this.type == 'baseline'"}}<p style="text-align: right;"><span class="attempText" style="font-size: 16px;">0</span> attempts</p>{{/xif}}
			<span class="background-uncheck" style="float:right;width: 40px;" onclick="noPress(this);">&nbsp;</span>
			<span class="background-check" style="float:right;width: 40px;" onclick="yesPress(this);">&nbsp;</span>
        </div>
		<div style="width: 100%">
        	<p><br/><br/><br/>Description<br/>{{message}}</p>
        </div>
		<div style="width: 100%;text-align: center;display: none;" class="addCommentSection">
        	<p><button onclick="addCardComment(this);" class="btn btn-primary" type="button">Add Comment</button></p>
        </div>
	</div>

	
</div>
</body>
</html>